@font-face
  font-family: 'Open Sans'
  font-style: normal
  font-weight: 400
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v9/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff')

html,body
	width:100%

body
	font-family: 'Open Sans', sans-serif;
	background-color: bodyColor;
	overflow-x:hidden

*
  box-sizing: border-box

.clearfix:after,
.clearfix:before
	content: '';
	display: table;

.clearfix:after
	clear: both;

.clearfix 
	zoom: 1;

.{prefix}float-left
	float:left !important

.{prefix}float-right
	float:right !important

.{prefix}h1
	font-size:h1Size
	font-weight:bold
	margin-bottom:20px

.{prefix}h2
	font-size:h2Size
	font-weight:bold
	margin-bottom:20px

.{prefix}h3
	font-size:h3Size
	font-weight:bold
	margin-bottom:20px

.{prefix}h4
	font-size:h4Size
	font-weight:bold
	margin-bottom:20px

.{prefix}h5
	font-size:h5Size
	font-weight:bold
	margin-bottom:20px
	
.{prefix}container
	max-width 960px
	padding:10px
	margin 0 auto 0 auto

.{prefix}well
	padding:10px
	venderPrefix(border-radius,5px)
	background-color:wellColor
