
*
  box-sizing: border-box

.clearfix:after,
.clearfix:before
	content: '';
	display: table;

.clearfix:after
	clear: both;

.clearfix 
	zoom: 1;

.{prefix}float-left
	float:left !important

.{prefix}float-right
	float:right !important

.{prefix}h1
	font-size:h1Size

.{prefix}h2
	font-size:h2Size

.{prefix}h3
	font-size:h3Size

.{prefix}h4
	font-size:h4Size

.{prefix}h5
	font-size:h5Size

.container
	max-width 960px
