

.{prefix}btn
	border: none
	color: white
	overflow: hidden
	margin-right:10px;
	padding: 0
	text-transform: uppercase
	width: 150px
	height: 40px
	line-height 40px
	text-align center
	display: inline-block
	cursor pointer
	venderPrefix(border-radius, 3px)

.{prefix}btn-default
	background-color: btnDefaultBgColor
	color btnDefaultColor

.{prefix}btn-warning
	background-color: btnDefaultBgColor
	color: #fff

.{prefix}btn-info
	background-color: btnInfoBgColor
	color: btnInfoColor

.{prefix}btn-danger
	background-color: btnDangerBgColor
	color: btnDangerColor

.{prefix}btn-success
	background-color: btnInfoBgColor
	color: btnInfoColor

.{prefix}btn-primary
	background-color: btnPrimaryBgColor
	color: btnPrimaryColor

