.{prefix}card
	-webkit-box-shadow: #DDD 0px 3px 4px 0px
	background-color: #FFF
	box-shadow: #DDD 0px 3px 4px 0px
	padding:15px
	margin-bottom:5px

.{prefix}card-primary
	background-color:cardPrimaryBgColor
	color:#FFFFFF

.{prefix}card-success
	background-color:cardSuccessBgColor
	color:#FFFFFF

.{prefix}card-warning
	background-color:cardWarningBgColor
	color:#FFFFFF

.{prefix}card-danger
	background-color:cardDangerBgColor
	color:#FFFFFF