.{prefix}card
	-webkit-box-shadow: rgba(0, 0, 0, 0.239216) 0px 3px 4px 0px
	background-color: #FFF
	box-shadow: rgba(0, 0, 0, 0.239216) 0px 3px 4px 0px
	padding:15px
	margin-bottom:5px

.{prefix}card-primary
	background-color:#008CBA
	color:#FFFFFF