.{prefix}input-group
	display table
.{prefix}input-group-btn
	display table-cell
	padding 5px
	background-color #EEEEEE
	border 1px solid #333333
	border-top-right-radius 5px
	border-bottom-right-radius 5px
.{prefix}input-group-form
	border 1px solid #333333
	border-right none
	display table-cell
	height 37px
.{prefix}input-group-form-full
	width 100%