/*担当者　堀*/
.{prefix}row
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	//margin:0 -15px 0 -15px
	overflow-x hidden
	venderPrefix(flex-direction,row)
	venderPrefix(flex-wrap,wrap)
	venderPrefix(justify-content,space-between)

[class^="{prefix}col-"]{
	padding-right:15px
	padding-left:15px
}

[class^="{prefix}col-"]:first-child{
	padding-left:0
}

[class^="{prefix}col-"]:last-child{
	padding-right:0
}



makeGrid(kind)
	for row in 1 2 3 4 5 6 7 8 9 10 11 12
		.{prefix}col-{kind}-{row}
			width:(100% * row / 12)
		.{prefix}col-{kind}-order-{row}
			order:row

/*スマートフォンサイズ*/
makeGrid(xs)
@media (min-width: smBreak)
	makeGrid(sm)
/*タブレットサイズ*/
@media (min-width: mdBreak)
	makeGrid(md)
/*デスクトップサイズ*/
@media (min-width: lgBreak)
	makeGrid(lg)