.{prefix}header
	height:headerHeight;
	background-color:#FFF;
	margin-bottom:10px

.{prefix}header_nav
	height:headerHeight;
	padding:0
	margin:0
	list-style-type:none;

.{prefix}header_nav_item
	height:headerHeight;
	line-height:headerHeight;
	display:inline-block;
	height:100%;
	padding:0 15px 0 15px

.{prefix}header_nav_item a
	display:block;
	height:headerHeight;

.{prefix}header_nav_item.active
	background-color:primaryColor

.{prefix}header_nav_item.active a
	color:#FFF
