.{prefix}pager
     clear:both;
     position:relative;
     text-align:center;
     margin: 40px auto 40px;

 
.{prefix}pager_item
     cursor:pointer;
     list-style: none;
     display:inline-block;
     border-radius:0;
     border: 1px solid #ddd;
     width:60px;
     height:30px;
     line-height:30px;
     &:hover
          color:#333333;
          background-color: #FFFFFF;
     &.active
          background-color:pagerItemActiveBgColor
          color:#FFF


     
