.cs-ribbon:before
    content:" ";
    position:absolute;
    top:100%;
    left:0;
    width:0;
    height:0;
    border-width:0 15px 15px 0;
    border-style:solid;
    border-color:transparent;
    border-right-color:darken(primaryColor,20%);

.cs-ribbon
	position:relative;
	background-color:primaryColor;
	color:#FFF;
	margin-left:-35px;
	padding:0 10px 0 35px;
	height:50px;
	line-height: 50px;
	display:inline-block;
	width:auto;

.cs-ribbon a
    color:#FFF
