.{prefix}slider-wrapper
	overflow-x hidden
.{prefix}slider
	clearfix()
	padding-left 0
	position relative
	overflow-x hidden
	li
		list-style-type none
		float:left
	img
		width 100%
		height auto
.{prefix}slider-btn-wrapper
	text-align center
.{prefix}slider-btn
	background-color #666666
	width 10px
	height 10px
	border-radius 5px
	display inline-block
	margin-right 5px
	cursor pointer
.{prefix}slider-btn.active
	background-color #000000