.{prefix}tab
	padding: 0
	margin: 0
	list-style-type:none
	position: relative
	clearfix()

.{prefix}tab_item
	margin-right: 10px
	text-overflow: ellipsis
	white-space:nowrap
	overflow-x:hidden
	cursor: pointer
	height: 30px
	width: 100px
	line-height: 30px
	padding: 0px 20px
	float: left
	border-radius: 3px 3px 0 0

.{prefix}tab_item-default
	background-color: tabListDafaultBgColor
	color: tabListDafaultColor
	&:hover,&.active
		background-color: lighten(tabListDafaultBgColor,20%)
		color: #FFF

.{prefix}tab_item-danger
	background-color: tabListDangerBgColor
	color: tabListDangerColor
	&:hover,&.active
		background-color: lighten(tabListDangerBgColor,20%)
		color: #FFF

.{prefix}tab_item-info
	background-color: tabListInfoBgColor
	color: tabListInfoColor
	&:hover,&.active
		background-color: lighten(tabListInfoBgColor,20%)
		color: #FFF

.{prefix}tab_item-primary
	background-color: tabListPrimaryBgColor
	color: tabListPrimaryColor
	&:hover,&.active
		background-color: lighten(tabListPrimaryBgColor,20%)
		color: #FFF

.{prefix}tab_item-warning
	background-color: tabListWarningBgColor
	color: tabListWarningColor
	&:hover,&.active
		background-color: lighten(tabListWarningBgColor,20%)
		color: #FFF

.{prefix}tab_item-success
	background-color: tabListSuccessBgColor
	color: tabListSuccessColor
	&:hover,&.active
		background-color: lighten(tabListSuccessBgColor,20%)
		color: #FFF

.{prefix}tabContainer
	background: #FFF;
	display:none;
	box-shadow: #DDD 0px 3px 4px 0px
	color:#333

.{prefix}tabContainer.active
	display:block;

.{prefix}tabContainer_content
	padding: 20px