.{prefix}tab
	padding: 0
	margin: 0
	list-style-type:none
	position: relative
	clearfix()

.{prefix}tab_item
	margin-right: 10px
	text-overflow: ellipsis
	white-space:nowrap
	overflow-x:hidden
	cursor: pointer
	height: 30px
	width: 100px
	line-height: 30px
	padding: 0px 20px
	float: left
	border-radius: 3px 3px 0 0

.{prefix}tab_item-default
	background-color: darken(tabItemDafaultBgColor,20%)
	color: #FFF
	&:hover,&.active
		background-color: tabItemDafaultBgColor
		color: #FFF

.{prefix}tab_item-danger
	background-color: darken(tabItemDangerBgColor,20%)
	color: #FFF
	&:hover,&.active
		background-color: tabItemDangerColor
		color: #FFF

.{prefix}tab_item-info
	background-color: darken(tabItemInfoBgColor,20%)
	color: #FFF
	&:hover,&.active
		background-color: tabItemInfoColor
		color: #FFF

.{prefix}tab_item-primary
	background-color: darken(tabItemPrimaryBgColor,20%)
	color: #FFF
	&:hover,&.active
		background-color: tabItemPrimaryBgColor
		color: #FFF

.{prefix}tab_item-warning
	background-color: darken(tabItemWarningBgColor,20%)
	color: #FFF
	&:hover,&.active
		background-color: tabItemWarningColor
		color: #FFF

.{prefix}tab_item-success
	background-color: darken(tabItemSuccessBgColor,20%)
	color: #FFF
	&:hover,&.active
		background-color: tabItemSuccessColor
		color: #FFF

.{prefix}tabContainer
	background: #FFF;
	display:none;
	box-shadow: #DDD 0px 3px 4px 0px
	color:#333

.{prefix}tabContainer-default
	border-top:5px solid tabContainerDefaultBgColor

.{prefix}tabContainer-primary
	border-top:5px solid tabContainerPrimaryBgColor

.{prefix}tabContainer-danger
	border-top:5px solid tabContainerDangerBgColor

.{prefix}tabContainer-warning
	border-top:5px solid tabContainerWarningBgColor

.{prefix}tabContainer.active
	display:block;

.{prefix}tabContainer_content
	padding: 20px