.{prefix}tab
	padding: 0
	margin: 0
	list-style-type:none;
	position: relative

.{prefix}tab_list
	text-overflow: ellipsis
	white-space:nowrap
	overflow-x:hidden
	cursor: pointer
	height: 31px
	width: 300px
	line-height: 31px
	padding: 0px 21px
	venderPrefix(border-radius, 3px 3px 0 0)

.{prefix}tab_list-default
	background-color: tabsListDafaultBgColor
	color: tabsListDafaultColor
	&:hover
		background-color: #ccc
		color: #333

.{prefix}tab_list-danger
	background-color: tabsListDangerBgColor
	color: tabsListDangerColor
	&:hover
		background-color: #ccc
		color: #333

.{prefix}tab_list-info
	background-color: tabsListInfoBgColor
	color: tabsListInfoColor
	&:hover
		background-color: #ccc
		color: #333

.{prefix}tab_list-primary
	background-color: tabsListPrimaryBgColor
	color: tabsListPrimaryColor
	&:hover
		background-color: #ccc
		color: #333

.{prefix}tab_list-warning
	background-color: tabsListWarningBgColor
	color: tabsListWarningColor
	&:hover
		background-color: #ccc
		color: #333

.{prefix}tab_list-success
	background-color: tabsListSuccessBgColor
	color: tabsListSuccessColor
	&:hover
		background-color: #ccc
		color: #333

.{prefix}tab .{prefix}tab_list.active
	//border-bottom: 1px solid #fff
	display: block

.{prefix}tab .{prefix}tab_list-default.active
	background-color: #eee
	color: #333

.{prefix}tab .{prefix}tab_list-danger.active
	background-color: #eee
	color: #333

.{prefix}tab .{prefix}tab_list-info.active
	background-color: #eee
	color: #333

.{prefix}tab .{prefix}tab_list-primary.active
	background-color: #eee
	color: #333

.{prefix}tab .{prefix}tab_list-waning.active
	background-color: #eee
	color: #333

.{prefix}tab .{prefix}tab_list-success.active
	background-color: #eee
	color: #333

.{prefix}tabContainer
	width: 300px
	background: #eee;
	overflow: auto;

.{prefix}tabContainer_content
	padding: 20px
	//display: none