.{prefix}table
	border 1px solid #CCC

.{prefix}table
	box-shadow: #DDD 0px 3px 4px 0px
	& td,th
		padding:10px
		text-align:left
	& th
		background-color primaryColor
		color #FFF
	& td
		color primaryColor

.{prefix}table-full
	width: 100%

.{prefix}table-noWrapTh th
	text-wrapping:nowrap
	
