prefix = cs-
smBreak = 768px
mdBreak = 962px
lgBreak = 1200px
primaryColor = #008CBA
dangerColor = #DC143C
warningColor = #FF8C00
infoColor = #00CED1
successColor = #00FF00
defaultColor = #333
/*base.stylに使用*/
bodyColor = #EEEEEE
h1Size = 36px
h2Size = 24px
h3Size = 20px
h4Size = 18px
h5Size = 14px
wellColor = #F5F5F5
/*grid.stylに使用*/
gutter = 15px
/*modal.stylに使用*/
modalWidth = 500px
modalHeight = 500px
modalColor = #EAEAEA
modalHeadingBgPrimaryColor = primaryColor
/*btn.stylに使用*/
btnDefaultBgColor = #333
btnDefaultColor = #FFF
btnDangerBgColor = dangerColor
btnDangerColor = #FFF
btnWarningBgColor = warningColor
btnWarningColor = #FFF
btnInfoBgColor = infoColor
btnInfoColor = #FFF
btnSuccessBgColor = successColor
btnSuccessColor = #FFF
btnPrimaryBgColor = primaryColor
btnPrimaryColor = #FFF
/*card.stylに使用*/
cardDefaultBgColor = defaultColor
cardPrimaryBgColor = primaryColor
cardDangerBgColor = dangerColor
cardSuccessBgColor = successColor
cardInfoBgColor = infoColor
cardWarningBgColor = warningColor
/*tab.stylに使用*/
tabContainerDefaultBgColor = defaultColor
tabItemDafaultBgColor = defaultColor
tabItemDafaultColor = #fff
tabContainerPrimaryBgColor = primaryColor
tabItemPrimaryBgColor = primaryColor
tabItemPrimaryColor = #fff
tabContainerDangerBgColor = dangerColor
tabItemDangerBgColor = dangerColor
tabItemDangerColor = #fff
tabContainerWarningBgColor = warningColor
tabItemWarningBgColor = warningColor
tabItemWarningColor = #fff
tabContainerInfoBgColor = infoColor
tabItemInfoBgColor = infoColor
tabItemInfoColor = #fff
tabContainerSuccessBgColor = successColor
tabItemSuccessBgColor = successColor
tabItemSuccessColor = #fff
/*pager.stylに使用*/
pagerItemColor = primaryColor
pagerItemActiveBgColor = primaryColor
/*header.stylに使用*/
headerHeight = 50px
/*offcanvas.stylに使用*/
offcanvasWidth = 270px
offcanvasSidebarBgColor = defaultColor
offcanvasSidebarColor = #fff
offcanvasSidebarPadding = 10px
/*list.styleに使用*/
toggleMenuBgColor = primaryColor
toggleMenuExpandableBgColor = defaultColor
toggleMenuColor = #fff
