prefix = cs-
smBreak = 768px
mdBreak = 962px
lgBreak = 1200px
/*base.stylに使用*/
h1Size = 36px
h2Size = 24px
h3Size = 20px
h4Size = 18px
h5Size = 14px
/*modal.stylに使用*/
modalWidth = 500px
modalHeight = 500px
modalColor = #EAEAEA

/*btn.stylに使用*/
btnDefaultBgColor = #333
btnDefaultColor = #FFF
btnDangerBgColor = #DC143C
btnDangerColor = #FFF
btnWarningBgColor = #FF8C00
btnWarningColor = #FFF
btnInfoBgColor = #00CED1
btnInfoColor = #FFF
btnSuccessBgColor = #00FF00
btnSuccessColor = #FFF
btnPrimaryBgColor = #0000FF
btnPrimaryColor = #FFF
