

.{prefix}btn
	display: inline-block
	border-radius: 5px
	border: 1px solid #ccc
	height: 30px
	line-height: 30px
	color: inherit

.{prefix}btn-default
	background-color: #CCCCCC

.{prefix}btn-warning
	background-color: #FF8C00

.{prefix}btn-info
	background-color: #00CED1

.{prefix}btn-danger
	background-color: #DC143C

.{prefix}btn-success
	background-color: #00FF00

.{prefix}btn-primary
	background-color: #0000FF

