/*担当者　堀*/
.{prefix}modal
	display:none
	position:fixed
	top:0
	left:0
	background-color: rgba(0,0,0,.5)
	z-index:99999
	width:100%
	height:100%

.{prefix}modal_contents
	width:modalWidth
	height:modalHeight
	margin:50px auto
	border-radius:3px
	padding:10px
	background-color:#EAEAEA
	word-wrap:break-word